@import "tailwindcss";
@import "./variables.css";
@import "./tipografia.css";

@layer base {
  * {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    margin: 0;
    background-color: var(--color-khao-bg);
    color: var(--color-khao-white);
    font-family: var(--font-khao-description);
  }

  button {
    cursor: pointer;
  }

  ::selection {
    background-color: var(--color-khao-gold);
    color: var(--color-khao-black);
  }

  .group:hover .khao.menu-icon {
    filter: brightness(0) saturate(100%) invert(67%) sepia(13%) saturate(847%)
      hue-rotate(359deg) brightness(88%) contrast(85%);
  }
}
