@import './variables.css';

.khao-title {
  font-family: var(--font-cormorant-garamond);
  font-weight: 600;
  font-size: clamp(3.25rem,4vw,6rem);
  line-height: 0.82;
  letter-spacing: 0.01em;
}


.khao-description {
  font-family: var(--font-manrope);
  font-weight: 400;
  /* font-size: clamp(4rem, 8vw, 0.55rem); */
  line-height: 1.65;
  letter-spacing: 0.035em;
}


